---
title: "Хиты продаж"
preheader: "Новинки лабораторного оборудования и посуды уже на сайте"
utm: "?utm_source=bitrix24&utm_medium=email&utm_campaign=leads"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-mons">
      <tr>
        <td align="center" class="bg-slate-50 sm:px-4">
          <table class="w-160 sm:w-full">

            <tr>
              <td class="py-8 px-5 text-center">
                <component src="src/components/header.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm-px-0 text-center">
                <component src="src/components/menu.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-left">
                <component src="src/components/content.html">
                  <h2 class="m-0 mb-6 text-2xl leading-6 text-slate-700">
                    Хиты продаж в июле!
                  </h2>
                  <p class="m-0 mb-6 text-base text-slate-700">
                    Ознакомьтесь с самыми ходовыми позициями нашего
                    лабораторного каталога. Вдруг вам как раз это и нужно.
                  </p>
                  <p class="m-0 mb-6 text-base text-slate-700">
                    Список представленными ниже товарами не ограничивается. Ждем
                    вас в нашем интернет-магазине.
                  </p>
                </component>
              </td>
            </tr>
          
            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-left">
                <component src="src/components/promocode.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 sm:px-0 text-left">
                <component src="src/components/catalog.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/bannerDark.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/bannerUni.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 sm:px-0 text-left">
                <component src="src/components/categories.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/bannerLight.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-left">
                <component src="src/components/one-post.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-left">
                <component src="src/components/two-posts.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 py-5 text-left">
                <component src="src/components/any-questions.html"> </component>
              </td>
            </tr>

            <tr>
              <td
                class="text-center px-10 sm-px-6 py-4 bg-white rounded text-left shadow-sm"
              >
                <component src="src/components/footer.html"> </component>
              </td>
            </tr>

            <tr>
              <td
                class="px-5 sm:px-6 py-4 bg-white rounded text-left shadow-sm"
              >
                <component src="src/components/unsubscribe.html"> </component>
              </td>
            </tr>
            <tr>
              <td class="h-8"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
