<table class="w-full">
  <tr>
    <td>
      <table class="w-full">
        <tr>
          <td class="py-4">
            <div class="bg-slate-300 h-px leading-px">&zwnj;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h3 class="m-0 px-6 pb-3 text-xl font-semibold text-primary">
        Остались вопросы?
      </h3>
      <p class="m-0 px-6 pb-5 text-slate-500">
        Eсли у вас возникнут вопросы, звоните нам по телефону <br /><a
          class="text-base text-primary hover:text-indigo-500 [text-decoration:none]"
          href="tel:{{page.contacts.phone}}"
          >{{ page.contacts.phone}}</a
        >
        или пишите на почту
        <a
          class="text-base text-primary hover:text-indigo-500 [text-decoration:none]"
          href="mailto:{{page.contacts.email}}subject=&body="
          >{{ page.contacts.email}}</a
        >
      </p>
    </td>
  </tr>
</table>
