<table class="w-full">
  <tr>
    <td class="w-full sm:w-full sm:inline-block">
      <table class="w-full">
        <tr>
          <td class="p-6 bg-white rounded shadow-sm">
            <p class="m-0 mb-1 text-sm text-slate-500">16 Aug, 2022</p>
            <h2 class="m-0 mb-6 text-2xl leading-6 text-slate-700">
              Рефрактометр – принцип работы, виды и сферы применения
            </h2>
            <p class="m-0 mb-6 text-base text-slate-700">
              Рефрактометр – это прибор для измерения значения плотности жидкой среды. Такое устройство является оптическим, применяется в разных сферах. Ниже рассмотрим назначение рефрактометра, виды приборов и правила их использования....
            </p>
            <a
              href="https://example.com"
              class="text-base text-primary hover:text-indigo-500 [text-decoration:none]"
            >
              Читать подробнее &rarr;
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
