<table class="w-full">
  <tr>
    <td class="w-full sm:w-full sm:inline-block">
      <table class="w-full">
        <tr>
          <td class="p-6 bg-white rounded shadow-sm">
            <h2 class="m-0 mb-6 text-2xl leading-6 text-slate-700">
              🔥 Выгодное предложение
            </h2>
            <table class="pb-6">
              <tr>
                <td class="w-1/4 bg-contain bg-center bg-no-repeat" style="background-image:url('https://5drops.ru/upload/medialibrary/628/6282d92b82dd57a2d351e46f61f4f29f.png')"></td>
                <td class="w-3/4 align-middle">
                  <p class="m-0 pl-6 text-base text-slate-700">
                    Мы хотим уменьшить количество грусти в нашем любимом отделе,
                    поэтому делаем вам специальное предложение - скидка 10% на
                    ваш заказ!
                  </p>
                </td>
              </tr>
            </table>

            <p class="m-0 text-base text-slate-700">
              Для того, чтобы получить данную скидку просто назовите промокод
              нашему менеджеру при заказе и получайте скидку!
            </p>
          </td>
        </tr>
        <tr>
          <td class="px-6 bg-white rounded shadow-sm text-center">
            <table class="w-full">
              <tr>
                <td
                  class="px-10 py-5  border-2 border-primary border-dashed text-center text-primary uppercase font-bold text-2xl sm:px-20"
                >
                  SALE10
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="p-6 bg-white rounded shadow-sm">
            <p class="m-0 mb-6 text-base text-slate-700">
              Предложение действительно только в течение 48 часов с момента
              получения вами данного письма! Торопитесь, так как второго шанса
              не будет
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
