<table class="w-full">
  <tr>
    <td class="w-1/2 pr-4 sm:px-0 sm:pb-4 sm:w-full sm:inline-block align-top">
      <table class="w-full h-full">
        <tr>
          <td class="p-6 bg-white rounded shadow-sm">
            <p class="m-0 mb-1 text-sm text-slate-500">14 Авг, 2022</p>
            <h2 class="m-0 mb-6 text-2xl leading-6 h-24 sm:h-auto text-slate-700">
              Вискозиметры — определение, виды и применение
            </h2>
            <p class="m-0 mb-6 text-base text-slate-700 h-33 sm:h-auto">
              Вискозиметр – это прибор для измерения свойств жидкостей. Приспособление определяет вязкость, применяется в разных сферах...
            </p>
            <a
              href="https://example.com"
              class="text-base text-primary hover:text-indigo-500 [text-decoration:none]"
            >
              Читать подробнее &rarr;
            </a>
          </td>
        </tr>
      </table>
    </td>
    <td class="w-1/2 pl-4 sm:px-0 sm:w-full sm:inline-block align-top">
      <table class="w-full">
        <tr>
          <td class="p-6 bg-white rounded shadow-sm ">
            <p class="m-0 mb-1 text-sm text-slate-500">10 Авг, 2022</p>
            <h2 class="m-0 mb-6 text-2xl leading-6 h-24 sm:h-auto text-slate-700">
              Определение pH воды
            </h2>
            <p class="m-0 mb-6 text-base text-slate-700 h-33 sm:h-auto">
              Качество питьевой воды во многом определяется значением ее pH...
            </p>
            <a
              href="https://example.com"
              class="text-base text-primary hover:text-indigo-500 [text-decoration:none]"
            >
              Читать подробнее &rarr;
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
