---
title: "Спасибо за ваше обращение"
preheader: "Спасибо за Ваше обращение!"
utm: "?utm_source=bitrix24&utm_medium=email&utm_campaign=leads"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-mons">
      <tr>
        <td align="center" class="bg-slate-50 sm:px-4">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="py-8 px-5 text-center">
                <component src="src/components/header.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm-px-0 text-center">
                <component src="src/components/menu.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-left">
                <component src="src/components/content.html">
                  <h2 class="m-0 mb-6 text-2xl leading-6 text-slate-700">
                    Как найти надежного поставщика лабораторного оборудования?
                  </h2>
                  <p class="m-0 mb-6 text-base text-slate-700">
                    Независимо от того, находитесь ли вы на рынке для замены
                    устаревшего лабораторного оборудования или хотите приобрести
                    новейшее и самое лучшее, важно выбрать правильного и
                    надежного поставщика.
                  </p>
                  <p class="m-0 mb-6 text-base text-slate-700">
                    В этом письме мы расскажем об одной из наших успешных
                    поставках для клиентов.
                  </p>
                </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-left">
                <component src="src/components/one-post.html">
                  <p class="m-0 pb-1 text-slate-500 uppercase text-xs">
                    ИСТОРИЯ 2
                  </p>
                  <h2 class="m-0 pb-2 text-2xl leading-6 text-slate-700">
                    Аналитическое лабораторное оборудование
                  </h2>
                  <p class="m-0 pb-1 pb-6 text-sm text-slate-500 underline">
                    Поставка крупного аналитического оборудования для
                    лаборатории государственного образовательного учреждения.
                  </p>
                  <p class="m-0 pb-6 text-base text-slate-700">
                    <b>Что мы сделали:</b><br />
                    Мы отобрали крупных производителей оборудования, подходящих
                    по техническим характеристикам и ценам. Вместе с заказчиком
                    мы выбрали из них самого оптимального. Сначала клиент
                    опасался начинать работу с неизвестными ему производителями.
                    С клиентом была проведена консультация и разъяснены все
                    плюсы сотрудничества с этим производителем. В добавок, новые
                    производители предлагали более выгодные условия и цены на
                    большие объемы закупок.
                  </p>
                  <p class="m-0 pb-6 text-base text-slate-700">
                    <b>Результат проекта:</b><br />
                    Пришедшее оборудование никак не отличалось от продукции
                    первоначального производителя, клиент был приятно удивлен. С
                    учетом выгоды порядка 10% по сравнению с закупкой товара от
                    известного поставщика, а также соблюдения всех сроков
                    поставки, клиент уже в следующем месяце смог ввести
                    оборудование в эксплуатацию и сэкономить в общей сложности
                    около 15%.
                  </p>
                </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/bannerDark.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/bannerLight.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 sm:px-0 text-left">
                <component src="src/components/categories.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 py-5 text-left">
                <component src="src/components/any-questions.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 sm:px-0 text-center">
                <component src="src/components/footer.html"> </component>
              </td>
            </tr>
            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/unsubscribe.html"> </component>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
