---
title: "Спасибо за ваше обращение"
preheader: "Спасибо за Ваше обращение!"
utm: "?utm_source=bitrix24&utm_medium=email&utm_campaign=leads"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-mons">
      <tr>
        <td align="center" class="bg-slate-50 sm:px-4">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="py-8 px-5 text-center">
                <component src="src/components/header.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm-px-0 text-center">
                <component src="src/components/menu.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-left">
                <component src="src/components/content.html">
                  <h2 class="m-0 mb-6 text-2xl leading-6 text-slate-700">
                    Как найти надежного поставщика лабораторного оборудования?
                  </h2>
                  <p class="m-0 mb-6 text-base text-slate-700">
                    Независимо от того, находитесь ли вы на рынке для замены
                    устаревшего лабораторного оборудования или хотите приобрести
                    новейшее и самое лучшее, важно выбрать правильного и
                    надежного поставщика.
                  </p>
                  <p class="m-0 mb-6 text-base text-slate-700">
                    В этом письме мы расскажем об одной из наших успешных
                    поставках для клиентов.
                  </p>
                </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-left">
                <component src="src/components/one-post.html">
                  <p class="m-0 pb-1 text-slate-500 uppercase text-xs">
                    ИСТОРИЯ 1
                  </p>
                  <h2 class="m-0 pb-2 text-2xl leading-6 text-slate-700">
                    Пробирки, колбы и другая лабораторная посуда
                  </h2>
                  <p class="m-0 pb-1 pb-6 text-sm text-slate-500 underline">
                    Поставка пробирок и лабораторной посуды для крупного национального медицинского исследовательского центра
                  </p>
                  <p class="m-0 pb-6 text-base text-slate-700">
                    <b>Что мы сделали:</b><br />
                    Большая часть позиций была в наличии у нас на складе, около
                    20% наименований необходимо было привозить из Германии в
                    сжатые сроки - всего 2 недели.
                  </p>
                  <p class="m-0 pb-6 text-base text-slate-700">
                    Мы связались с производителем лабораторной посуды из
                    Германии и согласовали сроки поставки, чтобы уложиться в
                    обозначенные сроки. Процесс таможенной очистки и доставки
                    прошел в плановые сроки, и уже через 9 дней товар оказался
                    на нашем складе.
                  </p>
                  <p class="m-0 pb-6 text-base text-slate-700">
                    <b>Самая большая проблема:</b><br />
                    Часть поставки (складские позиции) с хрупкой лабораторной
                    посудой была побита по вине транспортной кампании.
                  </p>
                  <p class="m-0 pb-6 text-base text-slate-700">
                    <b>Что было сделано:</b><br />
                    Мы своевременно отправили заказчику повторный заказ, чтобы
                    не ждать решения проблемы от транспортной кампании и не
                    затягивать с поставкой. Таким образом, товар успешно был
                    привезен в обещанные сроки и полностью целый. Заказчику были
                    важны сроки, так как посуда требовалась для производства
                    непрерывного цикла.
                  </p>
                </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/bannerDark.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/bannerLight.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 sm:px-0 text-left">
                <component src="src/components/categories.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="px-5 py-5 text-left">
                <component src="src/components/any-questions.html"> </component>
              </td>
            </tr>

            <tr>
              <td class="w-full px-5 sm:px-0 text-center">
                <component src="src/components/footer.html"> </component>
              </td>
            </tr>
            <tr>
              <td class="w-full px-5 pb-4 sm:px-0 text-center">
                <component src="src/components/unsubscribe.html"> </component>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
